header{
  display: flex;
  background-image: url("https://thumbs.dreamstime.com/z/colorful-hand-prints-459064.jpg");
  background-size: cover;
  height: 250px;
  justify-content: center;
  align-items: center;
}

#label{
  width: 500px;
  margin-top: -60px;
  background: white;
  border-color: black;
  border-radius: 10px;
  
}

#label p{
  font-size: 36px;
  font-family: Roboto Slab, sans-serif;
  text-align: center;
}

a{
margin-top: 20px;
padding: 10px 15px;
border: 2px solid white;
border-radius: 100px;
cursor: pointer;
}

a:hover{
  background-color:white;
  color:black;
}
#flexContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
